* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(177, 252, 252);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  margin: 30px;
}

.title h2 {
  font-size: 2rem;
  line-height: 1.4;
}

.container {
  background-color: #fff;
  /* max-width: 1100px; */
  margin: 0 50px;
}

.top {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.top p {
  margin: 2rem;
}

form .form-group {
  margin: 1rem;
}

form .form-group label {
  line-height: 1.4;
  margin-right: 10px;
}

.form-group input {
  padding: 8px 0;
  width: 300px;
}


input[type='number'] {
  margin-left: 13px;
}
input[type='email'] {
  margin-left: 2px;
}
.mid{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}


.mid .mid-group form .select{
  margin-bottom: 10px;

} 

.mid .mid-group form .select label {
  
  line-height: 1.4;
}

.mid .mid-group form select {
  margin-left: 19px;
  height: 30px;
}

.mid .mid-group form .radio {
  display: flex;
}

.radio .radios {
  margin-left: 25px;
}

.radio .radios div {
  margin-bottom: 5px;
}

.mid-group form .radios {
  margin-bottom: 20px;
}


.mid .mid-group form .check {
  display: flex;
}

form .check > label {
  margin-right: 25px;
}

.check .check-boxes div {
  margin-bottom: 10px;
} 